body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.full {
  background: url(../photos/proba.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* .boxed {
   padding:5px 10px;
    background: rgba(255, 255, 255, 0.4); 
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    -moz-border-radius: 15px;
    border-radius: 15px;
  }

.container h1 {font-family: 'Neucha', cursive;}
.container p {font-family: 'Neucha', cursive;} */
